<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
	<!-- <property resource="bootstrap.yml" /> -->
	<springProperty scope="context" name="application_name" source="spring.application.name"/>

	<!-- 
    <appender name="logstash" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <param name="Encoding" value="UTF-8"/>
        <remoteHost>localhost</remoteHost>
        <port>5044</port>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"service_name":"${application_name}"}</customFields>
        </encoder>
    </appender>
	 -->

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>[${application_name},%level,${HOSTNAME},%X{traceId:-NONE},%X{spanId:-NONE},%d{HH:mm:ss.SSS}] [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

	<property name="LOG_FILE" value="LogFile" />
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
	    <file>${LOG_FILE}.log</file>
	    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
	        <!-- daily rollover -->
	        <fileNamePattern>${LOG_FILE}.%d{yyyy-MM-dd}.gz</fileNamePattern>
	
	        <!-- keep 30 days' worth of history capped at 3GB total size -->
	        <maxHistory>30</maxHistory>
	        <totalSizeCap>3GB</totalSizeCap>
	    </rollingPolicy>
	    <encoder>
	        <pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
	    </encoder>
	</appender> 

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>tests.log</file>
        <append>true</append>
        <encoder>
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>
    

	<!-- 
    <logger name="com.baeldung.logback" level="INFO" /> 
    <logger name="com.baeldung.logback.tests" level="WARN"> 
        <appender-ref ref="FILE" /> 
    </logger> 
	 -->

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>